/* src/Contact.css */

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
form {
  border: none;
  outline: none;
}
.contact-form {
  background: white;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.contact-form div {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f1f1f1e8;
  border-radius: 4px;
}

.contact-form textarea {
  width: 100%;
  min-height: 150px;
  max-height: 250px;
}

.contact-form .error {
  color: red;
  font-size: 0.8em;
}

form button {
  width: 100%;
  padding: 10px 20px;
  background: aqua;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
