form {
  transform: translateY(-5%);
  height: auto;
  width: auto;
  padding: 25px;
}
.form-top .form-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-top .form-right span {
  font-size: 25px;
  background: aqua;
  border-radius: 50%;
  padding: 10px;
}
form .export {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.input-section .input textarea {
  padding: 10px;
  background: #f1f1f1e8;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  min-height: 100px;
  max-height: 150px;
  overflow-y: hidden;
}
